@font-face {
	font-family: 'Huera';
	src: url('assets/fonts/Heura.woff') format(woff2);
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'Huera', Arial, Helvetica, sans-serif;
}

/* SIZE ABOVE 1024 */

.icon.fa-solid.fa-bars {
	display: none;
}

.huera-header {
	height: 400px;
	width: 100%;
	background-color: #f9e021;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
}

.huera-banner-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin: 0 5% 0px 5%;
	padding: 0;
}

.huera-logo {
	height: 2.5vw;
}

.huera-nav {
	display: flex;
	text-decoration: none;
}

.huera-nav-list {
	list-style: none;
	display: flex;
}

.huera-nav-list,
li {
	font-size: 1.5vw;
	padding-left: 100px;
}

a {
	transition: 0.25s;
	animation-timing-function: ease-in;
}

a:hover {
	cursor: pointer;
	color: #fff;
	border-bottom: solid 4px #fff;
}

/* 1024 and below responsive */

@media screen and (min-width: 1024px) and (max-width: 1550px) {
	.icon.fa-solid.fa-bars {
		display: none;
	}

	.huera-banner-container {
		display: flex;
		flex-direction: column;
	}

	.huera-logo {
		height: 5vw;
	}

	.huera-nav {
		text-decoration: none;
		align-items: center;
	}

	.huera-nav-list {
		list-style: none;
		display: flex;
	}

	.huera-nav-list,
	li {
		font-size: 2vw;
		padding: 0;
		margin: 30px 30px;
	}

	a {
		transition: 0.25s;
		animation-timing-function: ease-in;
	}

	a:hover {
		cursor: pointer;
		color: #fff;
		border-bottom: solid 4px #fff;
	}
}

@media screen and (max-width: 1024px) {
	.huera-nav {
		display: none;
	}

	.huera-banner-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		margin: 0 5% 0px 5%;
		padding: 0;
	}

	.huera-logo {
		height: 8vw;
		margin-left: 100px;
	}

	.icon.fa-solid.fa-bars {
		width: 75px;
		height: 75px;
		font-size: 30px;
		color: #000;
		background-color: #fff;
		border-radius: 100px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 100px;
		margin-right: 100px;
		transition: 0.5s;
		animation-timing-function: ease-in;
	}

	.icon:hover {
		cursor: pointer;
		color: #fff;
		background-color: #000;
	}
}
